<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/style.css">
    <title>Contacto</title>
</head>
<body>
    <header>
        <h1>CarBP</h1>
        <input type="checkbox" id="checkmenu" class="check-menu">

        <nav class="nav-links">
            <a href="./../index.html" title="Inicio">Inicio</a>
            <a href="./productos.html" title="Productos">Nuestros Productos</a>
            <a href="./presupuesto.html" title="Presupuesto">Presupuesto</a>
            <a href="#" title="Contacto">Contacto</a>
        </nav>

        <label for="checkmenu" class="label-check">
            <img src="./../assets/images/menu-nav.svg" alt="imagen del menu" width="40" height="40">
        </label>

    </header>
<!--DATOS DE CONTACTO DE LA EMPRESA Y UNA IMAGEN DEL GOOGLE MAPS, DONDE INDICO LA 
UBICACION: Lo pongo todo dentro de un contenedor, para que las etiquetas no esten sueltas,
ademas asi con los estilos resalto el contenedor dandole un color suave-->
    <main>
        <div class="contacto">
            <p>C/ Lagunas, local nº 2.</p>
            <p>Malaga, España.</p>
            <p>900 019 191</p>
            <p> <a href= mailto:carsbp-malaga@gmail.com>carsbp-malaga@gmail.com</a></p>
            <img src="./../assets/images/mapa-ubicacion.jpg" alt="imagen de la ubicacion de la empresa" height="500" width="500">
        </div>
    </main>

    <footer>
        <div class="redes-sociales">

            <div class="logo">
                
                <a href="https://www.instagram.com/">
                    <img src="./../assets/images/logo-instagram.png" alt="logotipo del instagram" height="332" width="340">
                </a>
                <p>Instagram-carsBP</p>
            </div>

            <div class="logo">
                
                <a href="https://www.twitter.com/">
                    <img src="./../assets/images/logo-twitter.png" alt="logotipo del twitter" height="257" width="258">
                </a>
                <p>Twitter-CarsBP</p>
            </div>

            <div class="logo">
                
                <a href="https://www.tiktok.com/">
                    <img src="./../assets/images/logo-tiktok.png" alt="logotipo del tiktok" height="391" width="392">
                </a>
                <p>Tiktok-carsBP</p>
            </div>

            <div class="logo">
                
                <a href="https://www.facebook.com/">
                    <img src="./../assets/images/logo-facebook.png" alt="logotipo del facebook" height="179" width="160">
                </a>
                <p>Facebook-carsBP</p>
            </div>
            
        </div>
        <p>C/ Lagunas local nº2</p>      
        <p>Al navegar aceptas que tus cookies sean utilizadas</p>
        
    </footer>

    
</body>
</html>