<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presupuesto</title>
    <link rel="stylesheet" href="./../css/style.css">
</head>

<body>
    <header>
        <h1>CarsAxarquia</h1>
        <input type="checkbox" id="checkmenu" class="check-menu">

        <nav class="nav-links">
            <a href="../index.html" title="Inicio">Inicio</a>
            <a href="productos.html" title="Productos">Nuestros Productos</a>
            <a href="#" title="Presupuesto">Presupuesto</a>
            <a href="contacto.html" title="Contacto">Contacto</a>
        </nav>

        <label for="checkmenu" class="label-check">
            <img src="./../assets/images/menu-nav.svg" alt="imagen del menu" width="40" height="40">
        </label>

    </header>

    <main>
        <!--Formulario: abro primeramente una caja contenedora que contiene un parrafo
        para indicar al usuario de lo que se pretende con el formulario, como por ejemplo,
        recoger sus datos para dar un mejor servicio o ayudarles a ponerse en contacto con 
        la empresa, seguidamente abro la caja contenedora del formulario y todas las demas
        etiquetas que necesita para solicitar al usuario los datos necesarios-->
       
        <div class="formulario">
            <p>Rellena nuestro formulario para solicitar mas informacion. </p>
            
            <form action="insertar.php" method="post">

                <label for= "nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder= "Escriba su nombre" pattern="[a-z][A-Z]{3, 15}" required>
            
                <label for= "apellidos">Apellidos</label>
                <input type="text" name="apellidos" id="apellidos" placeholder= "Escriba sus apellidos" pattern="[a-z][A-Z]{4, 40}" required>
            
                <label for= "email">Email</label>
                <input type="email" name="email" id="email" placeholder= "Escriba su correo" pattern= "[a-zA-Z0-9._-]+@[a-zA-Z0-9]+\.[a-z]" required>
            
                <label for= "telefono">Telefono</label>
                <input type= "tel" name="telefono" id="telefono" placeholder= "Escriba su telefono" pattern="[0-9]{9}" required>
            
                <label for= "comentario">Mensaje</label>
                <textarea name= "comentario" id="comentario" placeholder= "Aporta mas informacion si lo deseas para una mejor atencion."></textarea>
                <!--Para el checkbox abro una caja contenedora para luego aplicar estilos-->
                <div class= "politica-priv">

                    <input type= "checkbox" name="lectura" value="si" id="lectura" required >
                    <label for= "lectura">Lea y acepte nuestra politica de privacidad para continuar</label>

                </div>
                <!--Con los botones de enviar y borrar hago lo mismo que el ckeckbox,
                los pongo dentro de una caja contenedora -->
            
                <div class="botones">

                    <input type="reset" value="Borrar">
                    <input type="submit" value="Enviar">

                </div>
            </form>

        </div>

        
    </main>

    <footer>
        <div class="redes-sociales">

            <div class="logo">
                
                <a href="https://www.instagram.com/">
                    <img src="./../assets/images/logo-instagram.png" alt="logotipo del instagram" height="332" width="340">
                </a>
                <p>carsAxarquia</p>
            </div>

            <div class="logo">
                
                <a href="https://www.twitter.com/">
                    <img src="./../assets/images/logo-twitter.png" alt="logotipo del twitter" height="257" width="258">
                </a>
                <p>carsAxarquia</p>
            </div>

            <div class="logo">
                
                <a href="https://www.tiktok.com/">
                    <img src="./../assets/images/logo-tiktok.png" alt="logotipo del tiktok" height="391" width="392">
                </a>
                <p>carsAxarquia</p>
            </div>

            <div class="logo">
                
                <a href="https://www.facebook.com/">
                    <img src="./../assets/images/logo-facebook.png" alt="logotipo del facebook" height="179" width="160">
                </a>
                <p>carsAxarquia</p>
            </div>
            
        </div>
        <p>C/ Lagunas local nº2</p>      
        <p>Al navegar aceptas que tus cookies sean utilizadas</p>
        
    </footer>
    
</body>
</html> 