<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/style.css">
    <title>Nuestros Productos</title>

</head>
<body>
    <!--Todas las cabeceras de las paginas son iguales-->
    <header>
        <h1>CarsAxarquia</h1>    
        <input type="checkbox" id="checkmenu" class="check-menu">

        <nav class="nav-links">
            <a href="./../index.html" title="Inicio">Inicio</a>
            <a href="#" title="Productos">Nuestros Productos</a>
            <a href="./presupuesto.html" title="Presupuesto">Presupuesto</a>
            <a href="./contacto.html" title="Contacto">Contacto</a>
        </nav>

        <label for="checkmenu" class="label-check">
            <img src="./../assets/images/menu-nav.svg" alt="imagen del menu" width="40" height="40">
        </label>

    </header>
     <!--Abro un contenedor principal para toda mi sección de galería; dentro del 
     contenedor principal irán apareciendo titulo y contenedor con clase= contenedor-img.
     En este contenedor hijo con clase = contenedor-img añado titulo, una caja 
     contenedora que sera las que contiene las imagenes y por ultimo un párrafo dónde tendria alguna breve explicacion
     sobre caracteristicas o algo por el estilo. -->
    

    <main>
        <section class="section-galeria">
            <h2>Volkswagen</h2>
            <div class="contenedor-img">
               <h3 class="titulo-dif">Volkswagen Thayron</h3>
               <div class="caja-img">
                    <img src="./../assets/images/volkswagen/volkswagen-thayron/volkswagen-thayron1.jpeg" alt="imagen de la parte delantera el volkswagen thayron" height="209" width="372">
                    <img src="./../assets/images/volkswagen/volkswagen-thayron/volkswagen-thayron2.jpeg" alt="imagen de los asientos traseros del volkswagen thayron" height="370" width="204">
                    <img src="./../assets/images/volkswagen/volkswagen-thayron/volkswagen-thayron3.jpeg" alt="imagen 2 de los asientos del volkswagen thayron" height="421" width="209">
                    <img src="./../assets/images/volkswagen/volkswagen-thayron/volkswagen-thayron4.jpeg" alt="imagen trasera del volkswagen thayron" height="138" width="219">
                </div>
                <p class="description-img">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptas pariatur ratione sequi provident iure in, similique quam fugiat culpa aperiam incidunt modi? Eum nostrum voluptas deleniti repellat sit aut!</p>
            </div>

            <h3>Volkswagen Touareg</h3>

            <div class="contenedor-img">
                <h4>Volkswagen Touareg Rline 3.0 V6 TDI 4 Motion</h4>
                <div class="caja-img">
                    <img src="./../assets/images/volkswagen/volkswagen-touareg/rline-tdi/rline-3.0-1.jpeg" alt="imagen trasera del touareg rline tdi" height="169" width="329">
                    <img src="./../assets/images/volkswagen/volkswagen-touareg/rline-tdi/rline-3.0-2.jpeg" alt="imagen de la parte delantera del interior del touareg rline tdi" height="202" width="282">
                    <img src="./../assets/images/volkswagen/volkswagen-touareg/rline-tdi/rline-3.0-3.jpeg" alt="imagen de los asientos traseros del touareg rline tdi" height="197" width="275">
                    <img src="./../assets/images/volkswagen/volkswagen-touareg/rline-tdi/rline-3.0-4.jpeg" alt="imagen de los asientos delanteros del touareg rline tdi" height="205" width="315">
                </div>
                <p class="description-img">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, ab aut. Quia voluptate excepturi illum corrupti, reiciendis dolorum tenetur perferendis exercitationem aut deserunt maiores in facilis quibusdam, porro voluptates ab!</p>
            
            </div>

              
            <div class="contenedor-img">
                <h4>Volkswagen Touareg Rline eHybrid 3.0 V6 4 TSI</h4> 
                <div class="caja-img">
                    <img src="./../assets/images/volkswagen/volkswagen-touareg/hybrid-tsi/hybrid-1.jpeg" alt="imagen del motor del touareg hybrid por detras" height="182" width="305">
                    <img src="./../assets/images/volkswagen/volkswagen-touareg/hybrid-tsi/hybrid-2.jpeg" alt="imagen de la parte delantera de dentro del touareg hybrid" height="320" width="203">
                    <img src="./../assets/images/volkswagen/volkswagen-touareg/hybrid-tsi/hybrid-3.jpeg" alt="imagen de la trasera del touareg hybrid" height="189" width="286">
                    <img src="./../assets/images/volkswagen/volkswagen-TOUAREG/Hybrid-tsi/hybrid-4.jpeg" alt="imagen de la parte delantera del touareg hybrid" height="198" width="314">

                </div>
                <p class="description-img">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore alias animi, aspernatur voluptas dolorem repellendus repellat hic voluptate officiis. Aspernatur, quasi repudiandae nesciunt sed eos nemo! Architecto blanditiis aliquam eaque!</p>


            </div>
            <h3>Volkswagen Tiguan</h3>

        
            <div class="contenedor-img">
                <h4>Volkswagen Tiguan Rline TDI 2.0</h4>
                <div class="caja-img">
                    <img src="./../assets/images/volkswagen/volkswagen-tiguan/rline-2.0/rline-2.0-1.jpeg" alt="imagen lateral del tiguan rline 2.0" height="163" width="255">
                    <img src="./../assets/images/volkswagen/volkswagen-tiguan/rline-2.0/rline-2.0-(2).jpeg" alt="imagen de los asientos delanteros del tiguan rline 2.0" height="174" width="263">
                    <img src="./../assets/images/volkswagen/volkswagen-tiguan/rline-2.0/rline-2.0-3.jpeg" alt="imagen de la pantalla del tiguan rline 2.0" height="145" width="203">
                    <img src="./../assets/images/volkswagen/volkswagen-tiguan/rline-2.0/rline-2(4).jpeg" alt="imagen de los asientos de atras del tiguan rline 2.0" height="199" width="292">

                </div>
                <p class="description-img">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium nemo, quas itaque voluptatibus, odio expedita quidem veritatis eius ratione voluptatem eligendi, repellendus iusto totam perferendis maxime qui sed asperiores mollitia?</p>
       
            </div>

        
            <div class="contenedor-img">
                <h4>Volkswagen Tiguan RLine 1.5 eTSI DSG</h4>
                <div class="caja-img">
                    <img src="./../assets/images/volkswagen/volkswagen-tiguan/rline-1.5/rline-1.jpeg" alt="imagen por detras del tiguan rline 1.5" height="200" width="377">
                    <img src="./../assets/images/volkswagen/volkswagen-tiguan/rline-1.5/rline-2.jpeg" alt="imagen de los asientos traseros del tiguan rline 1.5" height="186" width="249">
                    <img src="./../assets/images/volkswagen/volkswagen-tiguan/rline-1.5/rline-3.jpeg" alt="imagen del salpicadero del tiguan rline 1.5" height="203" width="299">
                    <img src="./../assets/images/volkswagen/volkswagen-tiguan/rline-1.5/tiguan_rline_1.5.jpeg" alt="imagen principal del tiguan rline 1.5" height="213" width="379">

                </div>
                <p class="description-img">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum officiis culpa deleniti nam debitis voluptates quas, perspiciatis aut enim, ratione sequi maxime quaerat inventore, ullam deserunt quos consectetur porro minima.</p>            
            </div>

        
            <div class="contenedor-img">
                <h4>Volkswagen Tiguan Life 2.0 TDI DSG</h4>
                <div class="caja-img">
                    <img src="./../assets/images/volkswagen/volkswagen-tiguan/life-2.0/tiguan_life_2.0_tdi.jpeg" alt="imagen principal del tiguan life 2.0" height="157" width="308">
                    <img src="./../assets/images/volkswagen/volkswagen-tiguan/life-2.0/life-1.jpeg" alt="imagen delantera del exterior tiguan life 2.0" height="186" width="273">
                    <img src="./../assets/images/volkswagen/volkswagen-tiguan/life-2.0/life-2.jpeg" alt="imagen del lateral trasero del tiguan life 2.0" height="189" width="298">
                    <img src="./../assets/images/volkswagen/volkswagen-tiguan/life-2.0/life-3.jpeg" alt="imagen trasera exterior del tiguan life 2.0" height="188" width="291">

                </div>
                <p class="description-img">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam repellat voluptatem itaque eos! Magni quod molestias harum nesciunt placeat voluptatibus pariatur reiciendis, recusandae suscipit, quae labore laboriosam atque sit nisi?</p>
            
            </div>

            <h3>Audi</h3>

        
            <div class="contenedor-img">
                <h4>Audi Q7 Sport 3.0 TDI</h4>
                <div class="caja-img">
                    <img src="./../assets/images/audi/q7/audi-q7.jpeg" alt="imagen principal del audi q7 sport" height="166" width="302">
                    <img src="./../assets/images/audi/q7/q7-1.jpeg" alt="imagen del interior del audi q7 sport" height="190" width="250">
                    <img src="./../assets/images/audi/q7/q7-2.jpeg" alt="imagen del maletero del audi q7 sport" height="181" width="230">
                    <img src="./../assets/images/audi/q7/q7-3.jpeg" alt="imagen del exterior delantero y de lado del audi q7 sport" height="166" width="295">

                </div>
                <p class="description-img">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, minus ea? Atque labore illum sapiente vel a facere, sint qui adipisci magni quos ipsum culpa, esse reprehenderit perspiciatis, natus incidunt?</p>
            
            </div>

        
            <div class="contenedor-img">
                <h4>Audi A6 Avant Sport 40 TDI</h4>
                <div class="caja-img">
                    <img src="./../assets/images/audi/a6/a6-1.jpeg" alt="imagen del maletero del audi a6 avant sport" height="197" width="363">
                    <img src="./../assets/images/audi/a6/a6-2.jpeg" alt="imagen del exterior de la parte trasera del audi a6 avant sport" height="142" width="248">
                    <img src="./../assets/images/audi/a6/a6-3.jpeg" alt="imagen de la parte trasera izquierda del audi a6 avant sport" height="163" width="296">
                    <img src="./../assets/images/audi/a6/audi-a6.jpeg" alt="imagen principal del audi a6 avant sport" height="168" width="299">

                </div>
                <p class="description-img">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur eos ipsum amet repellat repellendus, itaque tempora eum natus est distinctio aut neque consequatur commodi quaerat illum doloribus tempore numquam debitis.</p>
            
            </div>

        
            <div class="contenedor-img">
                <h4>Audi A5 S Line 35 TDI S tronic Sportback</h4>
                <div class="caja-img">
                    <img src="./../assets/images/audi/a5/a5-1.jpeg" alt="imagen del maletero del audi a5 tdi sportback" height="197" width="363">
                    <img src="./../assets/images/audi/a5/a5-2.jpeg" alt="imagen de la parte trasera de afuera del audi a5 tdi sporback" height="142" width="248">
                    <img src="./../assets/images/audi/a5/a5-3.jpeg" alt="imagen por fuera del lado izquiero del audi a5 tdi sportback" height="163" width="296">
                    <img src="./../assets/images/audi/a5/audi-a5-sportback-s-line-tdi.jpg" alt="imagen por fuera de la parte delantera derecha del audi a5 tdi sportback" height="168" width="299">

                </div>
                <p class="description-img">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora aut enim, dolorem veniam animi repellat tenetur vitae cupiditate atque voluptatum beatae consectetur deleniti at, unde ullam consequatur culpa voluptatem itaque.</p>
            
            </div>

            <h3>Porsche</h3>

        
            <div class="contenedor-img">
                <h4>Porsche Cayenne 3.0</h4>
                <div class="caja-img">
                    <img src="./../assets/images/porsche/cayenne-3.0/cayene-3.0-1.jpeg" alt="imagen del interior delantero del porsche cayenne 3.0" height="166" width="314">
                    <img src="./../assets/images/porsche/cayenne-3.0/cayenne-3.0-2.jpeg" alt="imagen del lateral izquiero del porsche cayenne 3.0" height="154" width="285">
                    <img src="./../assets/images/porsche/cayenne-3.0/cayenne-3.0-3.jpeg" alt="imagen de la parte trasera por fuera del porsche cayenne 3.0" height="194" width="307">
                    <img src="./../assets/images/porsche/cayenne-3.0/porsche-cayenne-3.0.jpeg" alt="imagen principal del porsche cayenne 3.0" height="180" width="282">

                </div>
                <p class="description-img">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, quas? Recusandae, quia tenetur? Dignissimos quidem, nihil eos sapiente facilis corporis, odio ad veritatis officia voluptatum dolores exercitationem quis cum alias.</p>
           
            </div>

        
            <div class="contenedor-img">
                <h4>Porsche Cayenne 4.8 S</h4>
                <div class="caja-img">
                    <img src="./../assets/images/porsche/cayenne-4.8/cayenne-4.8-1.jpeg" alt="imagen por dentro del porsche cayenne 4.8" height="166" width="314">
                    <img src="./../assets/images/porsche/cayenne-4.8/cayene-4.8-2.jpeg" alt="imagen del lado izquiero del porsche cayenne 4.8" height="154" width="285">
                    <img src="./../assets/images/porsche/cayenne-4.8/cayenne-4.8-3.jpeg" alt="imagen de la parte de atras por fuera del porsche cayenne 4.8" height="194" width="307">
                    <img src="./../assets/images/porsche/cayenne-4.8/porsche-cayenne-4.8.jpeg" alt="imagen principal del porsche cayenne 4.8" height="180" width="282">

                </div>
                <p class="description-img">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nihil quibusdam non soluta ullam beatae ducimus eos nulla. Quas inventore vero quod architecto eos deleniti provident labore nam officia consequatur.</p>
            
            </div>     

           
        </section>

        
    </main>
<!--El footer también es igual en todas las paginas de mi web-->
    <footer>
        <div class="redes-sociales">

            <div class="logo">
                
                <a href="https://www.instagram.com/">
                    <img src="./../assets/images/logo-instagram.png" alt="logotipo del instagram" height="332" width="340">
                </a>
                <p>CarsAxarquia</p>
            </div>

            <div class="logo">
                
                <a href="https://www.twitter.com/">
                    <img src="./../assets/images/logo-twitter.png" alt="logotipo del twitter" height="257" width="258">
                </a>
                <p>carsAxarquia</p>
            </div>

            <div class="logo">
                
                <a href="https://www.tiktok.com/">
                    <img src="./../assets/images/logo-tiktok.png" alt="logotipo del tiktok" height="391" width="392">
                </a>
                <p>carsAxarquia</p>
            </div>

            <div class="logo">
                
                <a href="https://www.facebook.com/">
                    <img src="./../assets/images/logo-facebook.png" alt="logotipo del facebook" height="179" width="160">
                </a>
                <p>carsAxarquia</p>
            </div>
            
        </div>
        <p>C/ Lagunas local nº2</p>      
        <p>Al navegar aceptas que tus cookies sean utilizadas</p>
        


    </footer>



    


    
</body>
</html>